<?python
    from itertools import cycle
?>
<tbody xmlns="http://www.w3.org/1999/xhtml" 
       xmlns:py="http://genshi.edgewall.org/"
       py:with="odd_even = cycle(['odd', 'even'])">
    <!-- $Id: _browse.html 3924 2010-03-15 16:32:53Z jcigar $ -->
    <tr py:for="user in c.results" id="user_${user.id}" class="${odd_even.next()}">
        <td class="bold">${user.login}</td>
        <td>${user.name}</td>
        <td>${user.first_name}</td>
        <td py:choose="user.blocked" style="text-align:center">
            <a href="#" class="human_block" py:if="user.id != c.user.id">
                <img py:when="False" src="${h.url_for('/images/button_ok.png')}" />
                <img py:when="True" src="${h.url_for('/images/button_cancel.png')}" />
            </a>
        </td>
        <td class="align_center">${user.count_content}</td>
        <td class="align_center" style="white-space:nowrap">
            <span py:if="c.user.has_perm('manager') or c.user == user">
                <a href="${h.url_for('/human/edit/%s' % user.id)}"><img class="icon_tab link" src="${h.url_for('/images/application_form_edit.png')}" /></a>
                <a href="#" class="human_delete"><img src="${h.url_for('/images/application_form_delete.png')}" class="icon_tab link" /></a>
            </span>
        </td>
    </tr>
</tbody>
