<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="True">

    <!-- $Id: _form_register.html 4390 2011-08-12 07:22:50Z jcigar $ -->

    <ul class="formTabs" id="tabs">
        <li id="tab-general" class="formTab current"><span>General</span></li>
        <li py:if="c.user.has_perm('manager')" id="tab-roles" class="formTab"><span>Roles</span></li>
    </ul>

    <!-- GENERAL -->

    <div id="section-general">

        <div class="form_section">
            <div class="form_title"><img src="${h.url_for('/images/vcard1.png')}" />Login</div>
            <div class="form_description">Login.</div>
            <div><input type="text" name="login" class="medium" maxlength="200" /></div>
        </div>

        <div class="form_section">
            <div class="form_title"><img src="${h.url_for('/images/vcard1.png')}" />Name</div>
            <div class="form_description">Your name.</div>
            <div><input type="text" name="name" class="medium" maxlength="200" /></div>
        </div>

        <div class="form_section">
            <div class="form_title"><img src="${h.url_for('/images/vcard2.png')}" />First Name</div>
            <div class="form_description">Your first name.</div>
            <div><input type="text" name="first_name" class="medium" maxlength="200" /></div>
        </div>

        <div class="form_section">
            <div class="form_title"><img src="${h.url_for('/images/email.png')}" />Email</div>
            <div class="form_description">A valid email address.</div>
            <div><input type="text" name="email" class="medium" maxlength="200" /></div>
        </div>

        <div class="form_section">
            <div class="form_title"><img src="${h.url_for('/images/puzzle.png')}" />Gender</div>
            <div class="form_description">Your gender.</div>
            <div>
                <select name="gender" maxlength="200">
                    <option value="m">male</option>
                    <option value="f">female</option>
                </select>
            </div>
        </div>

        <div py:if="c.user.has_perm('manager')" class="form_section">
            <div class="form_title"><img src="${h.url_for('/images/status_away.png')}" />Status</div>
            <div class="form_description">Enable or disable the account</div>
            <div><input type="radio" name="blocked" value="True" />Blocked</div>
            <div><input type="radio" name="blocked" value="False" checked="checked" />Active</div>
        </div>

        <div class="form_section">
            <div class="form_title"><img src="${h.url_for('/images/locked.png')}" />Password</div>
            <div class="form_description">To change the current user password, enter the new password in both fields.</div>
            <div style="margin-bottom:2px"><input type="password" name="password" maxlength="200" /></div>
            <div><input type="password" name="password_repeat" maxlength="200" /></div>
        </div>

    </div>

    <!-- ROLES -->

    <div py:if="c.user.has_perm('manager')" id="section-roles" style="display:none">

        <div class="form_section">
            <div class="form_title"><img src="${h.url_for('/images/medal_gold_3.png')}" />Roles</div>
            <div class="form_description">Roles set here apply directly to a user.</div>
            <table style="font-size:12px">
                <tr py:for="role in c.roles">
                    <td><input type="checkbox" name="roles" value="${role.id}" /></td>
                    <td><a href="${h.url_for('/role/edit/%s' % role.id)}">${role.name}</a></td>
                    <td>${role.description}</td>
                </tr>
            </table>
        </div>

    </div>

</html>
