<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
 
    <xi:include href="../layout.html" />

    <!-- $Id$ -->

    <head>
        <title>user accounts</title>
        <script>

            /* <![CDATA[ */

            var human_browser = undefined;

            Yeti.Evt.bind(window, 'load', function() {
                var spinner = new Bbpf.Spinner({
                        'target' : 'spinner',
                        'images' : {
                            'load' : "${h.url_for('/images/spinner.gif')}",
                            'error' : "${h.url_for('/images/exclamation.png')}"
                        }
                    })
                ; // var

                human_browser = new Bbpf.HumanBrowser({
                    'url' : '${h.url_for("/human/browse")}',
                    'target' : 'content',
                    'pagination' : 'pagination',
                    'parameters' : {
                        'order' : 'asc',
                        'sort' : 'login'
                    }
                });

                human_browser.dispatcher.add('before_load', function() {
                    spinner.set('load');
                });

                human_browser.dispatcher.add('after_load_success', function() {
                    spinner.hide();
                    this.add_delete_handler();
                    this.add_block_handler();
                });

                human_browser.dispatcher.add('after_load_failure', function() {
                    spinner.set('error');
                });

                human_browser.load();
                human_browser.add_sort_handler();
            });

            /* ]]> */

        </script>
    </head>

    <body py:with="navigation=c.widgets.Navigation(1, after_text=[('Control panel', '/controlpanel/index'), ('User management', '/controlpanel/users'), 'Users'])">

        <!-- BEGIN: TITLE -->

        <div class="title human_admin_title">
            <div class="right">
                <span py:if="c.user.has_perm('manager')">
                <a title="Add an user" href="${h.url_for('/human/new')}"><img src="${h.url_for('/images/user_add.png')}" /></a> 
                </span>
            </div>
            <h2>
                Users
                <img src="${h.url_for('/images/spinner.gif')}" style="vertical-align:middle;" id="spinner" />
            </h2>
            <div class="posted">List, add, and edit users.</div>
        </div>

        <!-- END: TITLE -->

        <p>Amnesia allows users to register, login, log out, maintain user profiles, etc. Users of the site may not post content until they have signed up for a user account.</p>

        <!-- BEGIN: users table -->

        <table class="browse" id="content" style="clear:both">
            <thead>
                <tr>
                    <th style="text-align:left"><a class="sort_login" href="#">Login</a></th>
                    <th style="text-align:left"><a class="sort_name" href="#">Name</a></th>
                    <th style="text-align:left"><a class="sort_first_name" href="#">First Name</a></th>
                    <th><a href="#" class="sort_blocked">Active</a></th>
                    <th><a href="#" class="sort_count_content">Count</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>

        <!-- END: users table -->

    </body>
</html>
