<div style="margin-top:10px;font-size:12px;">
    <p>What kind of content do you want to add to this folder ?</p>
    <div>
        <div tal:repeat="content_type content_types" style="margin:10px;text-align:center; width:75px" class="left highlight" onclick="window.location='${url('/')}'.concat('${content_type.name.replace(' ', '_')}').concat('/new/${container_id}')">
            <div><img src="${url('/images/content_types/%s' % content_type.icon)}" style="vertical-align:middle" /></div>
            <div>${content_type.name}</div>
        </div>
        <br class="clear" />
    </div>
</div>
