<div class="dropdown-header">
    <a class="dropdown-select" href="#"><span class="bold">display: </span><span class="dropdown-select-by bold">no</span> <img src="${url('/images/sort_quantity_descending.png')}" style="vertical-align:middle" /></a>
</div>

<div class="dropdown-body views" style="display:none;">
    <div>
        <ul class="dropdown-values">
            <li>
                <a class="view" data-view="list" href="#">list</a>
            </li>
            <li>
                <a class="view" data-view="icon" href="#">icon</a>
            </li>
            <li>
                <a class="view" data-view="thumbnail" href="#">thumbnail</a>
            </li>
        </ul>
    </div>
</div>
