<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" 
      xmlns:xi="http://www.w3.org/2001/XInclude">

    <xi:include href="../layout.html" />

    <!-- $Id$ -->

    <head>
        <title>Control Panel</title>
    </head>

    <body py:with="navigation=c.widgets.Navigation(1, after_text=['Control panel'])">
        <div class="title controlpanel_title">
            <h2>Control Panel</h2>
            <div class="posted">Welcome to the administration section.</div>
        </div>

        <div style="margin-top:30px">

            <!-- USERS -->

            <div class="panel_section">
                <a href="${h.url_for('/controlpanel/users')}">
                    <img src="${h.url_for('/images/users_mixed_gender.png')}" />
                    <div class="bold">User Management</div>
                </a>
            </div>


        </div>
        
    </body>

</html>
