<div tal:condition="page_total &gt; 1 and (count &gt;= 10 or offset &gt; 0)" class="pagination">

    <!--  FIRST AND PREVIOUS BUTTONS -->

    <span tal:condition="offset &gt; 0">
        <a href="#" data-direction="first" class="pagination"><img src="${url('/images/first.png')}" /></a>
        <a href="#" data-direction="previous" class="pagination"><img src="${url('/images/previous.png')}" /></a>
    </span>

    <span tal:condition="offset &lt;= 0">
        <img src="${url('/images/first_gray.png')}" />
        <img src="${url('/images/previous_gray.png')}" />
    </span>

    <!-- FIRST AND PREVIOUS BUTTONS -->

    <span style="margin: 5px;font-weight:bold"><input data-direction="goto" type="text" value="${page_current}" class="pagination_goto" /> of ${page_total}</span>

    <!-- BEGIN: NEXT AND LAST BUTTONS -->

    <span tal:condition="page_current &lt; page_total">
        <a href="#" data-direction="next" class="pagination"><img src="${url('/images/next.png')}" /></a>
        <a href="#" data-direction="last" class="pagination"><img src="${url('/images/last.png')}" /></a>
    </span>

    <span tal:condition="page_current &gt;= page_total">
        <img src="${url('/images/next_gray.png')}" />
        <img src="${url('/images/last_gray.png')}" />
    </span>

    <!-- END: NEXT AND LAST BUTTONS -->

</div>
