<?python
    from datetime import date
    import calendar
?>

<select name="${name}_year" tal:define="current_year date.today().year">
    <option value="">--</option>
    <option value="${year}" tal:repeat="year range(current_year - 50, current_year + 50)">${year}</option>
</select>
/
<select name="${name}_month">
    <option value="${int_month or ''}" tal:repeat="(month, int_month) zip(calendar.month_name, range(0,13))">${month or '--'}</option>
</select>
/
<select name="${name}_day">
    <option value="">--</option>
    <option value="${day}" tal:repeat="day range(1,32)">${day}</option>
</select>
