<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" 
      py:strip="True">

    <!-- $Id: _submenu_general.html 4090 2010-08-31 13:02:27Z jcigar $ -->

    <table width="167" height="460" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><a href="http://biobel.biodiversity.be"><img src="${h.url_for('/images/left1.jpg')}" width="167" height="57" class="hover noborder" /></a></td>
        </tr>
        <tr>
          <td><a href="http://ias.biodiversity.be"><img src="${h.url_for('/images/left2.jpg')}" width="167" height="49" class="hover noborder" /></a></td>
        </tr>
        <tr>
          <td><a href="http://climate.biodiversity.be"><img src="${h.url_for('/images/menu-bcc.png')}" width="167" height="49" class="hover noborder" /></a></td>
        </tr>
        <tr>
          <td><a href="http://fada.biodiversity.be"><img src="${h.url_for('/images/left3.jpg')}" width="167" height="52" class="hover noborder" /></a></td>
        </tr>
        <tr>
          <td><a href="http://forbio.biodiversity.be"><img src="${h.url_for('/images/left4.jpg')}" width="167" height="50" class="hover" /></a></td>
        </tr>
        <tr>
          <td><a href="http://www.scarmarbin.be"><img src="${h.url_for('/images/left5.jpg')}" width="167" height="50" class="hover noborder" /></a></td>
        </tr>
        <tr>
          <td><a href="http://data.biodiversity.be"><img src="${h.url_for('/images/left8.jpg')}" width="167" height="50" class="hover noborder" /></a></td>
        </tr>
        <tr>
          <td height="100%" align="center" background="${h.url_for('/images/left6.jpg')}"><p>&nbsp;</p>
            <p><a href="http://www.belspo.be"><img src="${h.url_for('/images/partner1.jpg')}" class="hover noborder" /></a></p></td>
        </tr>
        <tr>
          <td height="11"><img src="${h.url_for('/images/left7.jpg')}" width="167" height="11" class="hover"/></td>
        </tr>
    </table>
</html>
