<metal:page use-macro="load: layout.html">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <metal:title fill-slot="title_more">: give wings to your research</metal:title fill-slot>
        <script metal:fill-slot="head-bottom" type="text/javascript">

            /* <![CDATA[ */

                document.addEventListener("DOMContentLoaded",function(e) {

                    Yeti.AjaxRequest("${url('/news/latest')}", {
                        accept : 'html',
                        onreadystatechange : function(req) {
                            if (req.success()) {
                                Yeti.Element('news').innerHTML = req.o.responseText;
                            }
                        }
                    });

                    Yeti.AjaxRequest("${url('/event/next')}", {
                        accept : 'html',
                        onreadystatechange : function(req) {
                            if (req.success()) {
                                Yeti.Element('events').innerHTML = req.o.responseText;
                            }
                        }
                    });

                });

            /* ]]> */

        </script>
    </head>

    <body>

        <div metal:fill-slot="content" id="main">
        <div class="clear">&nbsp;</div>

        <!-- LEFT BOXES -->

        <div  class="left" style="width:680px;">
            <table style="text-align:center;border-spacing:20px">
                <tr>
                    <td><a href="${url('/1768')}"><img src="${url('/images/box_03.png')}" /></a></td>
                    <td><a href="${url('/1829')}"><img src="${url('/images/box_01.png')}" /></a></td>
                </tr>
                <tr>
                    <td><a href="${url('/1839')}"><img src="${url('/images/box_02.png')}" /></a></td>
                    <td><a href="${url('/1837')}"><img src="${url('/images/box_04.png')}" /></a></td>
                </tr>
            </table>
        </div>

        <!-- RIGHT BBPF TEXT -->

        <div style="float:right;width:230px;padding-left:10px;margin-top:10px">
            <p>The Belgian Biodiversity Platform is a science-policy interface.</p>
            <p>We offer a privileged access to primary biodiversity data and research information.</p>
            <p>We encourage interdisciplinary cooperation among scientists and serve as an interface between researchers and science policy organisations.</p>
            <p>We advise on the designation of biodiversity research priorities.</p>
            <p>We promote Belgian biodiversity research at international fora.</p>
            <p>
                <a href="${url('/1349')}">Read more</a>
            </p>
        </div>

        <div class="clear">
            <h2 class="topblue">
                Belgian Biodiversity Platform videos
                <img src="${url('/images/video.png')}" class="right" />
            </h2>

            <div style="margin-right:15px;width:300px" class="left">
                <iframe src="//player.vimeo.com/video/114955090?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="300" height="169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video"></iframe>
                <div style="text-align:justify;font-style:italic;margin-top:5px;padding:5px">Acting as a science policy interface and promoting the online publication and use of biodiversity data</div>
            </div>

            <div style="margin-right:15px;width:300px" class="left">
                <iframe src="//player.vimeo.com/video/114955160?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="300" height="169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video"></iframe>
                <div style="text-align:justify;font-style:italic;margin-top:5px;padding:5px">Creating a dialogue between policymakers and scientists, by animating so-called Communities of Practice (CoP)</div>
            </div>

            <div style="width:300px" class="left">
                <iframe src="//player.vimeo.com/video/114955193?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="300" height="169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video"></iframe>
                <div style="text-align:justify;font-style:italic;margin-top:5px;padding:5px">Highlighting the international science-policy activities, the transdiciplinary approaches and the various implications for scientists and decision makers.</div>
            </div>
        </div>

        <div style="width:230px" class="right">

            <!-- BEBIF PROVIDER DATA -->

            <div>
                <h2 class="topblue">
                    GBIF data
                    <a href="http://www.gbif.org/country/BE/publishing"><img src="${url('/images/gbifSmall.gif')}" class="right" /></a>
                </h2>
                <div>
                    <p>
                        Data published by Belgium through GBIF
                    </p>
                    <div class="align_center">
                        <a href="http://www.gbif.org/country/BE/publishing" target="_blank"><img src="${url('/images/bebif_gbif.png')}" /></a>
                    </div>
                </div>
            </div>

            <!-- LATEST BIODIVERSITY NEWSFLASH -->

            <div>
                <h2 class="topblue">
                    Biodiversity Newsflash
                </h2>
                <div class="align_center">
                    <a href="${url('/1863')}"><img src="${url('/images/box_06.png')}" /></a>
                </div>
            </div>

            <!-- FOLLOW POLICY DEVELOPMENTS -->

            <div>
                <h2 class="topblue">Follow policy developments</h2>
                <div class="align_center">
                    <a href="${url('/1853')}"><img src="${url('/images/box_05.png')}" /></a>
                </div>
            </div>

            <!-- SUBMIT CONTENT -->

            <div>
                <h2 class="topblue">
                    Submit
                    <img src="${url('/images/contact.png')}" class="right" />
                </h2>
                Please <a href="${url('/1807')}">contact us</a> if you want to submit a news, an event, or anything else on our website.
            </div>


        </div>

        <div style="width:680px" class="left">

            <!-- NEWS -->

            <div>
                <h2 class="topblue">
                    <a href="http://twitter.com/Biodiversity_be" target="_blank"><img src="${url('/images/twitter.png')}" class="right" style="margin-left:5px"/></a>
                    <a href="${url('/news/rss')}"><img src="${url('/images/rss.png')}" class="right" /></a>
                    Latest news
                </h2>
                <div id="news">
                    Loading, please wait ... <img src="${url('/images/spinner3.gif')}" class="right" />
                </div>
                <p>
                    <a href="${url('/90')}">More news</a>
                </p>
                <br class="clear" />
            </div>

            <!-- EVENTS -->

            <div>
                <h2 class="topblue">
                    <a href="${url('/event/rss')}"><img src="${url('/images/rss.png')}" class="right" /></a>
                    Next events
                </h2>
                <div id="events">
                    Loading, please wait ... <img src="${url('/images/spinner3.gif')}" class="right" />
                </div>
                <p>
                    <a href="${url('/2')}">More events</a>
                </p>
                <br class="clear" />
            </div>

        </div>

            <!-- CALENDAR -->
<!--
            <div>
                <a href="${url('/event/rss')}"><img src="${url('/images/rss.png')}" class="right" /></a>
                <h3 style="border-bottom: 1px dotted;padding-bottom:3px;margin-top:0px; margin-bottom:5px">Biodiversity Calendar</h3>
                <div id="cal">
                    Loading, please wait ... <img src="${url('/images/spinner3.gif')}" class="right" />
                </div>
            </div>
-->

            <!-- LATEST NEWS -->
<!--
            <div>
                <a href="${url('/news/rss')}"><img src="${url('/images/rss.png')}" class="right" /></a>
                <h3 style="border-bottom:1px dotted;padding-bottom:3px;margin-bottom:5px;">Latest News</h3>
                <div id="news">
                    Loading, please wait ... <img src="${url('/images/spinner3.gif')}" class="right" />
                </div>
            </div>
-->
            <!-- LATEST TWEETS -->
<!--
            <div>
                <a href="http://twitter.com/#!/search/%23biodiversity" target="_blank"><img src="${url('/images/twitter.png')}" class="right" /></a>
                <h3 style="border-bottom:1px dotted;padding-bottom:3px;margin-bottom:5px;">Latest Tweets</h3>
                <div id="tweets">
                    Loading, please wait ... <img src="${url('/images/spinner3.gif')}" class="right" />
                </div>
            </div>
-->

            <!-- LATEST NEWS -->


            <!--

            <div class="left" style="width:35%;">
                <h2 class="topblue">
                    <a href="http://twitter.com/#!/search/%23biodiversity" target="_blank"><img src="${url('/images/twitter.png')}" class="right" /></a>
                    Latest Tweets
                </h2>
                <div id="tweets">
                    Loading, please wait ... <img src="${url('/images/spinner3.gif')}" class="right" />
                </div>
            </div>
            -->

        </div>
    </body>
</html>
</metal:page>
