<metal:page use-macro="load: layout.html">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <metal:title fill-slot="title_more">: search</metal:title fill-slot>
    </head>

    <body>
    <div metal:fill-slot="content" id="main">

        <div class="title">
            <h1>Search result</h1>
        </div>

        <div style="margin-bottom:20px;text-align:center">
            <form action="${url('/search')}" method="get">
                <input type="text" name="query" value="${query}"
                style="font-size:22px;text-align:center;background-color:#7196a3;color:white;font-weight:bold;border:1px solid #597680;" />
            </form>
        </div>

        <div class="results">
            <div tal:repeat="(content, hl_title, hl_descr) results" class="search_result">
                <div><img src="${content.type_icon()}" class="title right" /><a href="${content.url_for('show')}">${structure: hl_title}</a></div>
                <div class="posted" tal:condition="hl_descr">${structure: hl_descr}</div>
            </div>
        </div>

    </div>
    </body>
</html>
</metal:page>
