<!-- EXCLUDE FROM NAV -->

<div class="form_section">
    <div class="form_title"><input type="checkbox" name="exclude_nav" />Exclude from navigation</div>
    <div class="form_description">If selected, this item will not appear in the navigation tree.</div>
</div>

<!-- FULL-TEXT INDEX -->

<div class="form_section">
    <div class="form_title"><input type="checkbox" name="is_fts" />Full-text index item</div>
    <div class="form_description">If selected, this item will be full-text indexed, and therefore searchable through the whole website.</div>
</div>
