<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="True">

    <!-- $Id: _state_description.html 4329 2011-05-03 09:06:55Z jcigar $ -->

    <div class="state_desc private hidden">
        This item has a private state. Only the owner user or another user with a "view content" permission can access this content at this point.
    </div>

    <div class="state_desc pending hidden">
        The content has been submitted for review and awaits publication.
    </div>

    <div class="state_desc published hidden">
        The content is published and visible to everyone.
    </div>

</html>
