<table class="calendar" metal:define-macro="calendar">

    <!-- CALENDAR HEADER -->

    <thead>
        <tr class="header">
            <th class="align_left">
                <a href="#" data-direction="previous" class="cal nodec"><img src="${url('/images/previous.png')}" style="vertical-align:middle"/></a>
            </th>
            <th colspan="5" class="month">${month_name} ${year}</th>

            <th class="align_right">
                <a href="#" data-direction="next" class="cal nodec"><img src="${url('/images/next.png')}" style="vertical-align:middle"/></a>
            </th>
        </tr>
        <tr tal:condition="thumb | nothing">
            <td colspan="7" class="align_center" style="overflow:hidden"><img src="${url('/images/calendar/%s' % thumb)}" /></td>
        </tr>
        <tr class="days">
            <th class="mon">Mon</th>
            <th class="tue">Tue</th>
            <th class="wed">Wed</th>
            <th class="thu">Thu</th>
            <th class="fri">Fri</th>
            <th class="sat">Sat</th>
            <th class="sun">Sun</th>
        </tr>
    </thead>

    <!-- CALENDAR BODY -->

    <tbody tal:define="dates [i.starts_date for i in evts]">
        <tr tal:repeat="week weeks">
            <tal:day repeat="day week">
            <td tal:define="has_event python:day in dates" class="${'prev_month' if day.month != month else 'today' if day == today else None}${' has_event' if has_event else None}">
                <a tal:condition="has_event" href="${url('/event/search?date=%s' % day.isoformat())}" data-date="date-${day.isoformat()}">${day.day}</a>
                <metal:block tal:condition="not has_event">${day.day}</metal:block>
            </td>
            </tal:day>
        </tr>
    </tbody>

    <!-- CALENDAR FOOTER -->

    <tfoot> </tfoot>
</table>
