<div>
    <ul style="padding:0;list-style-type:none;list-style-image:none">
        <li tal:repeat="content events" style="padding-bottom:5px;padding-top:2px;" class="clear">
<!--            <img src="${content.type_icon()}" class="right"/> -->
<!--                <div style="font-size:10px">${content.added.strftime('%a, %d %B %Y')}</div>-->

            <div style="margin-top:0px">
                <a class="nodec bold" href="${content.url_for('show')}">${content.title}</a>
            </div>
            <span tal:switch="content.starts.date() != content.ends.date()" class="posted">
                <span tal:case="True">
                    from <span class="bold">${content.starts.strftime('%d %b %Y')}</span> to <span class="bold">${content.ends.strftime('%d %b %Y')}</span>
                </span>
                <span tal:case="False">
                    on <span class="bold">${content.starts.strftime('%d %b %Y')}</span>
                </span>
            </span>
            <span class="posted">
                in <span style="border-bottom: 1px dotted">${content.country.name}</span>
            </span>
        </li>
    </ul>
</div>
