<metal:block use-macro="load: ../layout.html"
             tal:define="js_google_maps item.georeferenced; content item">
<html xmlns="http://www.w3.org/1999/xhtml"> 

    <head>
        <metal:block fill-slot="title_more">: ${item.title}</metal:block>
        <script metal:fill-slot="head-bottom" type="text/javascript">

            /* <![CDATA[ */

            document.addEventListener("DOMContentLoaded", function(e) {
                var evt = new Bbpf.Event(${h.dump_obj(item, 'json', include_columns=['address_latitude', 'address_longitude'], include_relations=False)}) 
                ; // var

                if (evt.is_georeferenced()) {
                    var point = new google.maps.LatLng(evt.address_latitude,
                                                       evt.address_longitude),
                        opts = {
                            zoom : 8,
                            center : point,
                            mapTypeId : google.maps.MapTypeId.ROADMAP
                        },
                        map = new google.maps.Map(Yeti.Element('event_map_detail'), opts),
                        marker = new google.maps.Marker({
                            position : point,
                            map : map
                        })
                    ; // var
                }
            });

            /* ]]> */

        </script>
    </head>

    <body>
    <div metal:fill-slot="content" id="main">

        <!-- BEGIN: BODY -->

        <div class="title event_title">

            <div class="right">
                <metal:block use-macro="load: ../content/_share_buttons.html" />
            </div>

            <div class="right" style="margin-right:10px" tal:condition="user">
                <metal:block use-macro="load: ../content/_action_buttons.html" tal:define="content item" />
            </div>

            <h1>${item.title}</h1>

        </div>

        <div class="clear event_contact">
            <div>
                This event

                <span tal:condition="item.finished">
                    <span class="event_passed">is over</span>, it was held
                </span>

                <span tal:condition="not item.finished and item.has_begin" class="event_now">
                    is taking place right now
                </span>

                <span tal:condition="not item.finished and not item.has_begin" class="event_futur">
                    will take place
                </span>

                 <span tal:switch="item.starts.date() != item.ends.date()">
                    <span tal:case="True">
                            from <span style="text-decoration:underline">${item.starts.strftime('%A, %d %B %Y')}</span> to 
                            <span style="text-decoration:underline">${item.ends.strftime('%A, %d %B %Y')}</span>.
                    </span>

                    <span tal:case="False">
                        on <span style="text-decoration:underline">${item.starts.strftime('%A, %d %B %Y')}</span>.
                    </span>
                </span>

            </div>
            <div>
                <span tal:condition="item.contact_name or item.contact_email or item.contact_phone">
                    <span style="text-decoration:underline">Contact:</span>
                    <span tal:condition="item.contact_name"><img src="${url('/images/person_small.gif')}" style="vertical-align:middle" /> ${item.contact_name}</span> 
                    <span tal:condition="item.contact_email"><img src="${url('/images/mail_small.gif')}" style="vertical-align:middle" /> <a href="mailto:${item.contact_email}">${item.contact_email}</a></span>
                    <span tal:condition="item.contact_phone"><img src="${url('/images/phone_small.gif')}" style="vertical-align:middle" /> ${item.contact_phone}</span>
                </span>
            </div>
        </div>

        <!-- BEGIN: EVENT MAP & INFO -->

        <div tal:condition="item.georeferenced" id="event_map_detail"></div>
        <div class="event_location">
                <metal:block tal:condition="item.location">${item.location}, </metal:block>
                <metal:block tal:condition="item.address">${item.address}, </metal:block>
                ${item.country.name}
                <img src="${url('/images/flags/%s.gif' % item.country.iso_code)}" />
        </div>


        <!-- END: RIGHT BOX -->

        <h2>${item.description}</h2>

        <div class="event_body">${structure: item.body}</div>
        <p tal:condition="item.url"><img src="${url('/images/world.png')}" class="title" /><a href="${item.url}">More information about this event</a></p>

<!--?
        <div tal:condition="item.tags" class="clear">
            <xi:include href="../content/_tag_list.html" tal:define="content item" />
        </div>
-->

        <!-- END: BODY -->
    </div>
    </body>

</html>
</metal:block>
