<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

    <xi:include href="../layout.html" />

    <!-- $Id: edit.html 4348 2011-05-18 15:17:35Z jcigar $ -->

    <head py:with="tinymce=True">
        <title>Role</title>
        <script type="text/javascript">
            Yeti.Evt.bind(window, 'load', function() {
                Bbpf.utils.form_tabs('tabs', 'general');
            });
        </script>
    </head>

    <body py:with="navigation=c.widgets.Navigation(1, after_text=[('Control panel', '/controlpanel/index'), ('User management', '/controlpanel/users'), ('Roles', '/role/admin'), c.item.name if c.item else 'new' ])">
        <div class="title role_title">
            <h2 py:choose="True if c.item and c.item.id else False">
                <py:when test="True">Edit</py:when>
                <py:otherwise>Add</py:otherwise>
                a role
            </h2>
            <div class="posted">Website role.</div>
        </div>

        <div>
            <form method="post" action="${h.url_for('/role/save')}">
                <div id="section-default">
                    <xi:include href="_form.html" />
                </div>
                <input type="hidden" name="id" />
                <input type="submit" value="send" />
            </form>
        </div>

    </body>

</html>
