<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
 
    <xi:include href="../layout.html" />

    <!-- $Id: index.html 4348 2011-05-18 15:17:35Z jcigar $ -->

    <head>
        <title>roles</title>
        <script>

            /* <![CDATA[ */

            var role_browser = undefined;

            Yeti.Evt.bind(window, 'load', function() {
                var spinner = new Bbpf.Spinner({
                        'target' : 'spinner',
                        'images' : {
                            'load' : "${h.url_for('/images/spinner.gif')}",
                            'error' : "${h.url_for('/images/exclamation.png')}"
                        }
                    })
                ; // var

                role_browser = new Bbpf.RoleBrowser({
                    'url' : '${h.url_for("/role/browse")}',
                    'target' : 'content',
                    'pagination' : 'pagination',
                    'parameters' : {
                        'order' : 'asc',
                        'sort' : 'login'
                    }
                });

                role_browser.dispatcher.add('before_load', function() {
                    spinner.set('load');
                });

                role_browser.dispatcher.add('after_load_success', function() {
                    spinner.hide();
                    this.add_delete_handler();
                });

                role_browser.dispatcher.add('after_load_failure', function() {
                    spinner.set('error');
                });

                role_browser.load();
                role_browser.add_sort_handler();
            });

            /* ]]> */

        </script>
    </head>

    <body py:with="navigation=c.widgets.Navigation(1, after_text=[('Control panel', '/controlpanel/index'), ('User management', '/controlpanel/users'), 'Roles'])">

        <!-- BEGIN: TITLE -->

        <div class="title role_admin_title">
            <div class="right">
                <a title="Add a role" href="${h.url_for('/role/new')}"><img src="${h.url_for('/images/user_add.png')}" /></a> 
            </div>
            <h2>
                Roles
                <img src="${h.url_for('/images/spinner.gif')}" style="vertical-align:middle;" id="spinner" />
            </h2>
            <div class="posted">List, add, and edit roles.</div>
        </div>

        <!-- END: TITLE -->

        <!-- BEGIN: DESCRIPTION -->

        <h3>
            Roles allow you to fine tune the security and administration. A role defines a group of users that have certain privileges as defined in user permissions. Examples of roles include: anonymous user, authenticated user, moderator, administrator and so on. In this area you will define the role names of the various roles. To delete a role choose "edit".
        </h3>
        <p>
            Two user roles exist by default:
            <ul>
                <li><span class="italic">anonymous</span>: this role is used for users that don't have a user account or that are not authenticated.</li>
                <li><span class="italic">authenticated</span>: this role is automatically granted to all logged in users.</li>
            </ul>
        </p>

        <!-- END: DESCRIPTION -->

        <!-- BEGIN: ROLES -->

        <table class="browse" id="content" style="clear:both">
            <thead>
                <tr>
                    <th style="text-align:left"><a class="sort_login" href="#">Name</a></th>
                    <th style="text-align:left"><a class="sort_name" href="#">Description</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>

        <!-- END: ROLES -->

    </body>
</html>
