<metal:block use-macro="load: ../layout.html"
             tal:define="content item">
<html>

    <head>
        <metal:block fill-slot="title_more">: ${item.title}</metal:block>
    </head>

    <body>
    <div metal:fill-slot="content" id="main">

        <!-- BEGIN: TITLE -->

        <div class="title file_title">

            <div class="right">
                <metal:block use-macro="load: ../content/_share_buttons.html" />
            </div>

            <div class="right" style="margin-right:10px" tal:condition="user">
                <metal:block use-macro="load: ../content/_action_buttons.html" tal:define="content item" />
            </div>

            <h1>${item.title}</h1>

        </div>

        <!-- END: TITLE -->

        <h2>${item.description}</h2>

        <p>
            <a href="${item.url_for('download')}"><img src="${item.type_icon('128x128')}" /></a>
        </p>

        <p>
            <a href="${item.url_for('download')}">download</a>
        </p>

        <table>
            <tr>
                <td>File size</td>
                <td>: ${item.file_size} MB</td>
            </tr>
            <tr>
                <td>File name</td>
                <td>: ${item.original_name}</td>
            </tr>
            <tr>
                <td>MIME type</td>
                <td>: ${item.mime.name} (<img src="${item.type_icon('16x16')}" style="vertical-align:middle" />)</td>
            </tr>
        </table>

    </div>
    </body>
</html>
</metal:block>
