<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" 
      xmlns:xi="http://www.w3.org/2001/XInclude">

    <xi:include href="../layout.html" />

    <!-- $Id: index.html 4090 2010-08-31 13:02:27Z jcigar $ -->

    <head>
        <title>Contact us</title>
    </head>

    <body py:with="navigation=c.widgets.Navigation(1, after_text=['RSS feeds'])">
        <div class="title rss_title">
            <h2>RSS</h2>
            <div class="posted">RSS feeds</div>
        </div>
        
        <div>
            <div style="text-align:center">
                <img src="${h.url_for('/images/rss.jpg')}" />
            </div>

            <div style="font-size:16px;text-align:center;margin-top:10px">
                <div><span class="bold">News feed :</span> http://${request.environ['HTTP_HOST']}${request.environ['SCRIPT_NAME']}/news/rss</div>
                <div><span class="bold">Events feed :</span> http://${request.environ['HTTP_HOST']}${request.environ['SCRIPT_NAME']}/event/rss</div>
            </div>

            <h3>What are News Feeds?</h3>

            <p>News feeds allow you to see when websites have added new content. You can get the latest headlines and video in one place, as soon as its published, without having to visit the websites you have taken the feed from.</p>

            <p>Feeds are also known as RSS. There is some discussion as to what RSS stands for, but most people plump for 'Really Simple Syndication'. In essence, the feeds themselves are just web pages, designed to be read by computers rather than people.</p>

            <h3>How do I start using feeds?</h3>

            <p>In general, the first thing you need is something called a <b>news reader</b>. This is a piece of software that checks the feeds and lets you read any new articles that have been added. There are many different versions, some of which are accessed using a browser, and some of which are downloadable applications.</p>

            <p>Browser-based news readers let you catch up with your RSS feed subscriptions from any computer, whereas downloadable applications let you store them on your main computer, in the same way that you either download your e-mail using Outlook, or keep it on a web-based service like Hotmail.</p>

            <p>Once you have chosen a news reader, all you have to do is to decide what content you want it to receive.</p>

            <h3>How do I get a news reader?</h3>

            There is a range of different news readers available and new versions are appearing all the time. Different news readers work on different operating systems, so you will need to choose one that will work with your computer.

            <ul>
                <li>Unix/Linux: <a class="external" target="_blank" href="http://akregator.kde.org/index.php">akregator</a> (KDE), <a class="external" target="_blank" href="http://liferea.sourceforge.net/">liferea</a> (GTK), <a class="external" target="_blank" href="http://kiza.kcore.de/software/snownews/">snownews</a> (ncurses), <a class="external" target="_blank" href="http://yarssr.sourceforge.net/">yarssr</a> (GNOME), ...</li>
                <li>Windows: <a class="external" target="_blank" href="http://www.newzcrawler.com/">NewzCrawler</a>, <a class="external" target="_blank" href="http://www.feedreader.com/">Feedreader</a>, <a class="external" target="_blank" href="http://www.rssreader.com/">RssReader</a></li>
                <li>Web based: <a class="external" target="_blank" href="http://www.google.com/reader/">Google Reader</a>, ...</li>
            </ul>
        </div>
    </body>
</html>
