<metal:block use-macro="load: ../layout.html" tal:define="js_tinymce True">
<html>
    <head>
        <metal:block fill-slot="title_more">: page</metal:block>

        <script type="text/javascript" metal:fill-slot="head-bottom">
            /* <![CDATA[ */
            Yeti.Evt.bind(window, 'load', function() {
                Bbpf.utils.init_tinyMCE();
            })
            /* ]]> */
        </script>
    </head>

    <body>
    <div metal:fill-slot="content" id="main">
        <div class="title page_title">
            <h1>Add or Edit a page</h1>
            <div class="posted">A page in the site. Can contain rich text.</div>
        </div>

        <form method="post" action="${url('/page/save')}">
            ${structure: form}
            <input type="submit" value="send" />
        </form>
    </div>
    </body>

</html>
</metal:block>
