<metal:block use-macro="load: ../news/_form.html">
    <metal:block fill-slot="section-default">
        <metal:block fill-slot="content_title" />

        <!-- ISSUE NUMBER -->

        <div class="form_section">
            <div class="form_title"><img src="${url('/images/calendar_view_day.png')}" />Issue</div>
            <div class="form_description">Issue number.</div>
            <div><input type="text" name="issue" maxlength="4" size="10" style="text-align:center" /></div>
        </div>
    </metal:block>

</metal:block>
