<div xmlns="http://www.w3.org/1999/xhtml">

    <!-- $Id: _resume.html 4231 2011-01-11 17:28:37Z jcigar $ -->

    <img src="${h.url_for('/images/icon_newsflash.jpg')}" class="right" style="width:60px;height:40px;"/>
    <img src="${content.type_icon}" class="title" />
    <a class="bold" href="${content.url_for('show')}">${content.title}</a> - 
    <span class="posted">last modified ${h.format_date(content.last_update)}</span>
    <div style="margin-left: 23px;margin-top:3px">${content.description}</div>

</div>
