<metal:block use-macro="load: ../layout.html" tal:define="js_tinymce True">
<html>
    <head>
        <metal:block fill-slot="title_more">: platform news</metal:block>
        <script type="text/javascript" metal:fill-slot="head-bottom">
            /* <![CDATA[ */
            Yeti.Evt.bind(window, 'load', function() {
                Bbpf.utils.init_tinyMCE();
            });
            /* ]]> */
        </script>
    </head>

    <body>
    <div metal:fill-slot="content" id="main">
        <div class="title newsflash_title">
            <h1>Add or Edit a newsflash</h1>
            <div class="posted">
                Platform newsflash are publications of the Platform (in the form of emails) gathering announcements of interest to biodiversity researchers such as calls for proposals, job opportunities, conferences, etc.
            </div>
        </div>

        <form method="post" action="${url('/newsflash/save')}">
            ${structure: form}
            <input type="submit" value="send" />
        </form>
    </div>
    </body>

</html>
</metal:block>
