<div class="tweets">
    <ul style="margin:0;padding:0;list-style-type:none;">
        <li tal:repeat="tweet tweets" style="padding-bottom:5px;padding-top:5px;border-bottom:1px dotted #cccccc" class="clear">
<!--            <img src="${tweet['profile_image_url']}" class="right" style="width:16px;" /> -->
<!--                <div><a target="_blank" href="${'http://twitter.com/#!/%s' % tweet['from_user']}">${tweet['from_user']}</a></div>-->
            <div>${structure: tweet['re_text']}</div>
            <!--<p>${tweet['text']}</p>-->
            <!--<div>${tweet['created_at']}</div>-->
        </li>
    </ul>
</div>
