<metal:block use-macro="load: ../layout.html" tal:define="js_tinymce True">
<html>
    <head>
        <metal:block fill-slot="title_more">: science news</metal:block>
        <script type="text/javascript" metal:fill-slot="head-bottom">
            /* <![CDATA[ */
            Yeti.Evt.bind(window, 'load', function() {
                Bbpf.utils.init_tinyMCE();
            });
            /* ]]> */
        </script>
    </head>

    <body>
    <div metal:fill-slot="content" id="main">
        <div class="title science_news_title">
            <h1>Add or Edit a science news</h1>
            <div class="posted">
                An announcement that will show up on the homepage and in the news listing.
            </div>
        </div>

        <form method="post" action="${url('/science_news/save')}">
            ${structure: form}
            <input type="submit" value="send" />
        </form>
    </div>
    </body>

</html>
</metal:block>
