<span tal:repeat="(level, parent) enumerate(widget.parents)">
    <span tal:condition="level">››</span>
    <a href="${parent.url_for(widget.action) if parent.id != 1 else url('/')}" data-obj="${obj_dump(parent)}">${h.wrap(parent.title, 30)}</a>
</span>

<span tal:condition="widget.after_text">
     <span tal:repeat="text widget.after_text" tal:switch="isinstance(text, (tuple, list))">
        ››
        <span tal:case="False">${text}</span>
        <a href="${url(text[1])}" tal:case="True" class="search" style="border-bottom: 1px dotted">${text[0]}</a>
    </span>
</span>
