<metal:block tal:define="current_item widget.grouped_tabs[1]; level 1">

    <ul metal:define-macro="tabs" data-level="${level}" class="level-${level}">

        <li tal:condition="level == 1">
            <a href="${url('/')}"><img src="${url('/images/home.png')}" class="valign_middle"/></a>
        </li>

        <li tal:repeat="tab current_item" class="${'start' if repeat.tab.start else None}">
            <a href="${tab.url_for('show')}">${h.wrap(tab.title, 30)}</a>
            <metal:block tal:condition="tab.id in widget.grouped_tabs">
                <img style="float:right;margin-top:13px;margin-right:15px;" src="${url('/images/arrow-right.png')}" tal:condition="level > 1 "/>
                <metal:block use-macro="macros['tabs']" tal:define="current_item widget.grouped_tabs[tab.id]; level level+1" />
            </metal:block>
        </li>
    </ul>

</metal:block>
